[submodule "src/ledger"]
	path = src/ledger
	url = https://github.com/ZondaX/ledger-polkadot-app.git
[submodule "deps/nanos-secure-sdk"]
	path = deps/nanos-secure-sdk
	url = https://github.com/LedgerHQ/nanos-secure-sdk.git
[submodule "deps/BLAKE"]
	path = deps/BLAKE
	url = https://github.com/BLAKE2/BLAKE2
[submodule "deps/json"]
	path = deps/json
	url = https://github.com/nlohmann/json.git
