[submodule "deps/BLAKE2"]
	path = deps/BLAKE2
	url = https://github.com/BLAKE2/BLAKE2
[submodule "deps/ledger-zxlib"]
	path = deps/ledger-zxlib
	url = https://github.com/zondax/ledger-zxlib
[submodule "deps/ledger-secure-sdk"]
	path = deps/ledger-secure-sdk
	url = https://github.com/LedgerHQ/ledger-secure-sdk
