version: 2
jobs:
  build:
    docker:
      - image: zondax/circleci:latest
    steps:
      - checkout
      - run: git submodule update --init --recursive
      - run: cmake -DCMAKE_BUILD_TYPE=Debug . && make
      # Unfortunately need to disable leak sanitizer https://github.com/google/sanitizers/issues/916
      # Still run all other ASAN components
      - run: GTEST_COLOR=1 ASAN_OPTIONS=detect_leaks=0 ctest -VV

  build_only_rust:
    docker:
      - image: zondax/rust-ci:latest
    steps:
      - checkout
      - run:
          name: rustfmt
          command: |
            cd ~/project/app/rust
            cargo fmt --version
            cargo fmt -- --check
      - run:
          name: clippy
          command: |
            cd ~/project/app/rust
            cargo clippy --version
            cargo clippy --all-features --all-targets || true
      - run:
          name: audit
          command: |
            cd ~/project/app/rust
            cargo audit --version
            cargo audit
      - run:
          name: run tests
          command: |
            cd ~/project/app/rust
            cargo test

  build_ledger:
    docker:
      - image: zondax/builder-bolos:latest
    working_directory: ~/project
    environment:
      BOLOS_SDK: /home/zondax/project/deps/nanos-secure-sdk
      BOLOS_ENV: /opt/bolos
    steps:
      - checkout
      # Docker entrypoint is not considered
      - run: git submodule update --init --recursive
      - run:
          name: Build Standard app
          command: |
            source /home/zondax/.cargo/env
            make
      - run:
          name: Build SR25519 app
          command: |
            source /home/zondax/.cargo/env
            SUPPORT_SR25519=1 make
      - run:
          name: Build Ledgeracio
          command: |
            source /home/zondax/.cargo/env
            COIN=Ledgeracio make

  test_zemu:
    machine:
      image: ubuntu-1604:201903-01
    resource_class: large
    working_directory: ~/repo
    environment:
      BASH_ENV: "/opt/circleci/.nvm/nvm.sh"
    steps:
      - checkout
      - run: git submodule update --init --recursive
      - run: sudo apt-get update -y && sudo apt-get install -y libusb-1.0.0 libudev-dev
      - run:
          name: Install rust
          command: |
            sudo apt-get update
            sudo apt-get install -y cmake binutils-dev libcurl4-openssl-dev libiberty-dev libelf-dev libdw-dev
            curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh -s -- --no-modify-path --default-toolchain none -y;
          no_output_timeout: 1800s
      - run:
          name: Install node + yarn
          command: |
            nvm install 14.4.0
            nvm use 14.4.0
            npm install -g yarn
      - run:
          name: Build Ledger app
          command: |
            make buildS
            make clean
            make buildX
      - run:
          name: Build/Install build js deps
          command: |
            nvm use 14.4.0
            export PATH=~/.cargo/bin:$PATH
            make zemu_install
      - run:
          name: Run zemu tests
          command: |
            nvm use 14.4.0
            export PATH=~/.cargo/bin:$PATH
            make zemu_test

  test_zemu_ledgeracio:
    machine:
      image: ubuntu-1604:201903-01
    resource_class: large
    working_directory: ~/repo
    environment:
      BASH_ENV: "/opt/circleci/.nvm/nvm.sh"
    steps:
      - checkout
      - run: git submodule update --init --recursive
      - run: sudo apt-get update -y && sudo apt-get install -y libusb-1.0.0 libudev-dev
      - run:
          name: Install rust
          command: |
            sudo apt-get update
            sudo apt-get install -y cmake binutils-dev libcurl4-openssl-dev libiberty-dev libelf-dev libdw-dev
            curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh -s -- --no-modify-path --default-toolchain none -y;
          no_output_timeout: 1800s
      - run:
          name: Install node + yarn
          command: |
            nvm install 14.4.0
            nvm use 14.4.0
            npm install -g yarn
      - run:
          name: Build Ledger app
          command: |
            make build_ledgeracio
      - run:
          name: Build/Install build js deps
          command: |
            nvm use 14.4.0
            export PATH=~/.cargo/bin:$PATH
            make zemu_install
      - run:
          name: Run zemu tests for Ledgeracio app
          command: |
            nvm use 14.4.0
            export PATH=~/.cargo/bin:$PATH
            COIN=Ledgeracio make zemu_test

  test_zemu_sr25519:
    machine:
      image: ubuntu-1604:201903-01
    resource_class: large
    working_directory: ~/repo
    environment:
      BASH_ENV: "/opt/circleci/.nvm/nvm.sh"
    steps:
      - checkout
      - run: git submodule update --init --recursive
      - run: sudo apt-get update -y && sudo apt-get install -y libusb-1.0.0 libudev-dev
      - run:
          name: Install rust
          command: |
            sudo apt-get update
            sudo apt-get install -y cmake binutils-dev libcurl4-openssl-dev libiberty-dev libelf-dev libdw-dev
            curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh -s -- --no-modify-path --default-toolchain none -y;
          no_output_timeout: 1800s
      - run:
          name: Install node + yarn
          command: |
            nvm install 14.4.0
            nvm use 14.4.0
            npm install -g yarn
      - run:
          name: Build Ledger app
          command: |
            make build_sr25519
      - run:
          name: Build/Install build js deps
          command: |
            nvm use 14.4.0
            export PATH=~/.cargo/bin:$PATH
            make zemu_install
      - run:
          name: Run zemu tests for sr25519
          command: |
            nvm use 14.4.0
            export PATH=~/.cargo/bin:$PATH
            cd tests_zemu && yarn testSR25519

  build_package:
    docker:
      - image: zondax/builder-bolos@sha256:0e0097c01ef3c6c964fea8d8b6e3a584f4ff209a04ec68b6b2b4aeab64379c23
    environment:
      BOLOS_SDK: /home/zondax/project/deps/nanos-secure-sdk
      BOLOS_ENV: /opt/bolos
    steps:
      - checkout
      - run: git submodule update --init --recursive
      - run:
          name: Build
          command: |
            source /home/zondax/.cargo/env
            cd /home/zondax/project
            make
      - run: /home/zondax/go/bin/ghr -t ${GITHUB_TOKEN} -u ${CIRCLE_PROJECT_USERNAME} -r ${CIRCLE_PROJECT_REPONAME} -c ${CIRCLE_SHA1} -delete $(/home/zondax/project/app/pkg/installer_s.sh version) /home/zondax/project/app/pkg/installer_s.sh

  build_package_ledgeracio:
    docker:
      - image: zondax/builder-bolos@sha256:0e0097c01ef3c6c964fea8d8b6e3a584f4ff209a04ec68b6b2b4aeab64379c23
    environment:
      BOLOS_SDK: /home/zondax/project/deps/nanos-secure-sdk
      BOLOS_ENV: /opt/bolos
    steps:
      - checkout
      - run: git submodule update --init --recursive
      - run:
          name: Build
          command: |
            source /home/zondax/.cargo/env
            cd /home/zondax/project
            COIN=Ledgeracio make
      - run:
          name: Rename installer
          command: cp /home/zondax/project/app/pkg/installer_s.sh /home/zondax/project/app/pkg/install_ledgeracio_app.sh
      - run: /home/zondax/go/bin/ghr -t ${GITHUB_TOKEN} -u ${CIRCLE_PROJECT_USERNAME} -r ${CIRCLE_PROJECT_REPONAME} -c ${CIRCLE_SHA1} -replace $(/home/zondax/project/app/pkg/installer_s.sh version) /home/zondax/project/app/pkg/install_ledgeracio_app.sh
      - run:
          name: Rename elf
          command: cp /home/zondax/project/app/bin/app.elf /home/zondax/project/app/bin/app_ledgeracio.elf
      - run: /home/zondax/go/bin/ghr -t ${GITHUB_TOKEN} -u ${CIRCLE_PROJECT_USERNAME} -r ${CIRCLE_PROJECT_REPONAME} -c ${CIRCLE_SHA1} -replace $(/home/zondax/project/app/pkg/installer_s.sh version) /home/zondax/project/app/bin/app_ledgeracio.elf

workflows:
  version: 2

  default:
    jobs:
      - build
      - build_only_rust
      - build_ledger
      - test_zemu
      - test_zemu_ledgeracio
#      - test_zemu_sr25519
      - build_package:
          requires:
            - build
            - build_ledger
            - test_zemu
            - test_zemu_ledgeracio
#            - test_zemu_sr25519
          filters:
            branches:
              only:
                - master
      - build_package_ledgeracio:
          requires:
            - build
            - build_ledger
            - test_zemu
            - test_zemu_ledgeracio
#            - test_zemu_sr25519
          filters:
            branches:
              only:
                - master
