name: Build
on:
  workflow_dispatch:
  push:
  pull_request:
    branches:
      - main
      - develop
      - master
      - dev

jobs:
  ledger-build:
    uses: Zondax/_workflows/.github/workflows/_ledger_main.yml@v3
    with:
      runs-on: ${{ github.repository_owner == 'zondax' && 'zondax-runners' || 'ubuntu-latest' }}
      has-rust: false
      has-nanos: false
      node-version: '22'

  build_package_nanosp:
    needs: ledger-build
    runs-on: ${{ github.repository_owner == 'zondax' && 'zondax-runners' || 'ubuntu-latest' }}
    container:
      image: zondax/ledger-app-builder:latest
      options: --user ${{ needs.configure.outputs.uid_gid }}
      env:
        BOLOS_SDK: /opt/nanosplus-secure-sdk
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: true
      - name: Install deps
        run: pip install --break-system-packages ledgerblue

      - name: Build Migration NanoSP
        shell: bash -l {0}
        run: |
          PRODUCTION_BUILD=0 COIN=DOT_MIGRATION make
          mv ./app/pkg/migration_s2.sh ./app/pkg/migration_nanos_plus.sh
      - name: Set tag
        id: nanosp
        run: echo "tag_name=$(./app/pkg/installer_nanos_plus.sh version)" >> $GITHUB_OUTPUT
      - name: Update Release
        if: ${{ github.ref == 'refs/heads/main' }}
        id: update_release_nanosp_migration
        uses: softprops/action-gh-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          files: |
            ./app/pkg/migration_nanos_plus.sh
          tag_name: ${{ steps.nanosp.outputs.tag_name }}
          draft: false
          prerelease: false

  build_package_stax:
    needs: ledger-build
    runs-on: ${{ github.repository_owner == 'zondax' && 'zondax-runners' || 'ubuntu-latest' }}
    container:
      image: zondax/ledger-app-builder:latest
      options: --user ${{ needs.configure.outputs.uid_gid }}
      env:
        BOLOS_SDK: /opt/stax-secure-sdk
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: true
      - name: Install deps
        run: pip install --break-system-packages ledgerblue
      - name: Build Migration Stax
        shell: bash -l {0}
        run: |
          PRODUCTION_BUILD=0 COIN=DOT_MIGRATION make
      - name: Set tag
        id: stax
        run: echo "tag_name=$(./app/pkg/installer_stax.sh version)" >> $GITHUB_OUTPUT
      - name: Update Release
        if: ${{ github.ref == 'refs/heads/main' }}
        id: update_release_stax_migration
        uses: softprops/action-gh-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          files: |
            ./app/pkg/migration_stax.sh
          tag_name: ${{ steps.stax.outputs.tag_name }}
          draft: false
          prerelease: false

  build_package_flex:
    needs: ledger-build
    runs-on: ${{ github.repository_owner == 'zondax' && 'zondax-runners' || 'ubuntu-latest' }}
    container:
      image: zondax/ledger-app-builder:latest
      options: --user ${{ needs.configure.outputs.uid_gid }}
      env:
        BOLOS_SDK: /opt/flex-secure-sdk
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: true
      - name: Install deps
        run: pip install --break-system-packages ledgerblue

      - name: Build Migration Flex
        shell: bash -l {0}
        run: |
          PRODUCTION_BUILD=0 COIN=DOT_MIGRATION make
      - name: Set tag
        id: flex
        run: echo "tag_name=$(./app/pkg/installer_flex.sh version)" >> $GITHUB_OUTPUT
      - name: Update Release
        if: ${{ github.ref == 'refs/heads/main' }}
        id: update_release_flex_migration
        uses: softprops/action-gh-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          files: |
            ./app/pkg/migration_flex.sh
          tag_name: ${{ steps.flex.outputs.tag_name }}
          draft: false
          prerelease: false

  build_package_apex_p:
    needs: ledger-build
    runs-on: ${{ github.repository_owner == 'zondax' && 'zondax-runners' || 'ubuntu-latest' }}
    container:
      image: zondax/ledger-app-builder:latest
      options: --user ${{ needs.configure.outputs.uid_gid }}
      env:
        BOLOS_SDK: /opt/apex-secure-sdk
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: true
      - name: Install deps
        run: pip install --break-system-packages ledgerblue

      - name: Build Apex Migration
        shell: bash -l {0}
        run: |
          PRODUCTION_BUILD=0 COIN=DOT_MIGRATION make
      - name: Set tag
        id: flex
        run: echo "tag_name=$(./app/pkg/installer_apex_p.sh version)" >> $GITHUB_OUTPUT
      - name: Update Release
        if: ${{ github.ref == 'refs/heads/main' }}
        id: update_release_apex_migration
        uses: softprops/action-gh-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          files: |
            ./app/pkg/migration_flex.sh
          tag_name: ${{ steps.flex.outputs.tag_name }}
          draft: false
          prerelease: false
